.popup__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 35px;
  margin: auto;
  max-width: 430px;
  max-height: 330px;
}

@media screen and (max-width: 450px) {
  .popup__container {
      padding: 36px 19px;
  }
}