.card__info {
  display: flex;
  justify-content: space-between;
  /*margin: 22px 20px 0 22px;*/
  /*padding: 0 0 26px;*/
  align-items: center;
}

.card__like-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 22px;
}

.card__likes-count {
  margin: 0;
  padding: 0;
  color: black;
}
