.popup__form_add-card {
  display: flex;
  flex-direction: column;
  padding-top: 54px;
}

@media screen and (max-width: 425px) {
    .popup__form_add-card {
      padding-top: 75px;
    }
  }