.popup__input {
  border: none;
  padding: 0 0 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  min-width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  max-height: 13px;
}

/*
.popup__input:invalid {
  border-bottom: 1px solid red;
}
*/